*{
    box-sizing: border-box;
}
body    {
    padding: 0%;
    margin: 0%;
}
.container  {
    width: 100%;
    
}
.logo  { 
margin-top: 5%;
 margin-left: 5%;

}

.centr  {
    width: 80%;
    gap: 24x;
    display: flex;
    flex-direction: column;
    margin: auto;
}
input   {
    font-weight: 400;
    font-family: "Roboto";
    font-size: 16px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(145, 158, 171, 0.3);
    padding: 20px 5%;
    margin-bottom: 30px;
    
    
}
button  {
    background-color: #3258fb;
  color: #ffffff;
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
  font-family: "Roboto";
  padding: 11px 22px 11px 22px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 8px 16px rgba(50, 88, 251, 0.24);

  width: 100%;
}
button:hover    {
    background-color: #ffffff;
    color: black;
}
.text   {
    margin-top: 24px;
    font-family:"Roboto";
font-size: 14px;
width: 90%;
line-height: 22px;
text-align: center;
padding-left: 5%;
color: #919EAB;


}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 0px 0px;
color: #333333;
padding-top: 5%;
}
.footer>a{
    margin-left:1%;

    
}
.logo1{
    display: none;
}
@media screen and   (min-width:1280px)  {
    .logo   {
        display: none;
    }
    .footer {
        align-self: flex-end;
        order: -1;
        
    
      
    }
    .centr{
       
    }
    .footer>a{
     margin-left: -0.5%;
    }
    .text-block {
        display: flex;
        align-items: center;
        flex-direction: column;
       margin-top: 5%;
        
    }
    .text2  {
        margin-top: -2%;
    }
    
    .text1  {
        margin-right: 11.5%;
        
    }
   .input-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    margin-left: 35%;
    width: 36%;
   
   }
  .input-block2 {
    display: flex;
    flex-direction: column;
    
    padding: 0px;
   
    
    margin-left: 35%;
    width: 36%;
  }
  button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 22px;
    
    width: 36%;
    margin-left: 35%;
    
    /* blue */
    
    background: #3258FB;
    box-shadow: 0px 8px 16px rgba(50, 88, 251, 0.24);
    border-radius: 8px;
    
    
  }

.text {
   
    width: 36%;
    margin-left: 35%;

/* Body2 */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 157% */

text-align: center;

/* gray */

color: #919EAB;
}   
  .container1{
    display: flex;
    flex-direction: column;
    padding: 0px;
    
    position: absolute;
    left: 1.11%;
    right: 73.61%;
    top: 1.56%;
    bottom: 1.56%;
    
    /* white */
    
    background: #FFFFFF;
    /* 01 Shadows/Light/z16 */
    
    box-shadow: 0px 16px 32px -4px rgba(145, 158, 171, 0.12);
    border-radius: 16px;

  } 
  .logo1{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    height: 15%;
    margin-top: -13.5%;
    margin-left: 6%;
  }
  .logo2    {
    position: absolute;
    left: 1.11%;
    right: 73.61%;
    top: 36.67%;
    bottom: 36.67%;
  }
  .new-text {
    margin-left: 15%;
  }
}
